<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MedView. Увійти </title>
    <link th:href="@{css/styleLogReg.css}" href="/css/styleLogReg.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<!--navbar-->

<div id="navbar">
    <a class="active" th:href="@{/}">Головна сторінка</a>
        <a th:href="@{/cards/new}">Нова картка</a>
        <a th:href="@{/cards/new/tacmed}">Картка пораненого ТССС</a>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/register}">Зареєструвати користувача</a>
    </div>
</div>

<!--header-->

<div class="header">
    <h2>MedView</h2>
    <p>Професійний погляд на ваші проблеми.</p>
</div>

<!--body-->

<div class="container">
    <h1>Вхід на сайт</h1>
    <p>Будь ласка заповніть наступну форму</p>
    <hr>
    <form action="#"
        th:action="@{/login}"
        method="POST">

                <div>
                    <label for="email"><b>Логін</b></label>
                    <input id="email" type="text" placeholder="Логін" name="email" required>

                    <label for="password"><b>Пароль</b></label>
                    <input id="password" type="password" placeholder="Пароль" name="password" required>

                    <button type="submit" class="buttonLogin">Увійти</button>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button class="cancelbtn" onclick="window.location='http://localhost:3000/';return false;">Відмінити</button>
                </div>
            </form>
</div>

<!--basement-->

<div class="basement">
    <h2>MedView</h2>
    <p>Професійний погляд на ваші проблеми.</p>
</div>

</body>
</html>
